body{
    background-color:#3498db;
    
}
.Bio{
    text-align: center;
    width:300px;  
    margin: 0 auto 0 auto;
    padding:150px 0px 70px 100px; 
    font-family: 'Century Gothic';
    color: black;
 
}
a:link{
    color: black;
}
.img{
    text-align: center;
    border-radius: 50%;
    width: 200px;
    height:200px;
    
}
p{
    text-align: justify;
}
